{
    "@context": [
    "https://www.w3.org/ns/credentials/v2"],
    "issuer": "${issuer}",
    "type": ["VerifiableCredential", "MockVerifiableCredential"],
    "validFrom": "${validFrom}",
    "validUntil": "${validUntil}",
    "credentialSubject": {
        "gender": "${gender}",
        "postalCode": "${postalCode}",
        "fullName": "${fullName}",
        "dateOfBirth": "${dateOfBirth}",
        "province": "${province}",
        "phone": "${phone}",
        "addressLine1": ${addressLine1},
        "region": "${region}",
        "vcVer": "${vcVer}",
        "UIN": ${UIN},
        "email": "${email}",
        "face": "${face}"
    }
}
